In [1]:
import pandas as pd

In [74]:
# data1 = pd.read_csv('data1.csv')
# data2 = pd.read_csv('data2.csv')
# data3 = pd.read_csv('data3.csv')
data4 = pd.read_csv('data4.csv')

In [5]:
data1.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [15]:
data2.head()

   age2 Embarked     Fare  SibSp  Parch  Pclass     Sex  Survived
0  22.0        S   7.2500      1      0       3    male         0
1  38.0        C  71.2833      1      0       1  female         1
2  26.0        S   7.9250      0      0       3  female         1
3  35.0        S  53.1000      1      0       1  female         1
4  35.0        S   8.0500      0      0       3    male         0

In [16]:
data3.head()

   age_range Embarked     Fare  SibSp  Parch  Pclass     Sex  Survived
0          1        S   7.2500      1      0       3    male         0
1          1        C  71.2833      1      0       1  female         1
2          1        S   7.9250      0      0       3  female         1
3          1        S  53.1000      1      0       1  female         1
4          1        S   8.0500      0      0       3    male         0

In [12]:
data4['Embarked'].fillna(data4['Embarked'].mode().values[0], inplace=True)

In [17]:
data4.head()

   age_range Embarked     Fare  family_size title  Pclass     Sex  Survived
0          1        S   7.2500            2    mr       3    male         0
1          1        C  71.2833            2   mrs       1  female         1
2          1        S   7.9250            1  miss       3  female         1
3          1        S  53.1000            2   mrs       1  female         1
4          1        S   8.0500            1    mr       3    male         0

In [18]:
# 의사결정나무 모델에서의 data1, data2, data3, data4 중에서
# 일반화 성능이 제일 높은 데이터셋 선택
# data1 : 전처리 하지 않고 그대로 사용
# data2 ~ data4 : 필요한 전처리 적용 후 사용
# 30분까지 각 데이터셋 마다 필요한 전처리 작성 후 전송

In [ ]:
# data2,3,4
# - Embarked 변수를 숫자로 바꿔준다.
# data4
# - title 변수를 숫자로 바꿔준다

In [ ]:
# Fare을 지운다?!

In [ ]:
# data4의 Title 변수를 토대로 계층별, 연령별, 성별별로 범주를 새로이 정립
# Fare 변수와 Pclass 변수는 중복되는 경향이 있으므로 둘 중에 더 쓰기 용이한 Pclass 변수를 살리고 Fare 변수를 삭제

In [21]:
# Name, Tickek, 삭제
# Sex, Cabin, Embarked : LabelEnconder
data1.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [22]:
data1.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

In [ ]:
# 1. 모델링에 필요한 전처리 수행
# 2. 모델링에 필요한 데이터 분리 수행
# 3. 모델 학습
# 4. 모델 평가
# 5. 최종 결과는 딕셔너리 형태로 저장 => key : 1,2,3,4 / value : 일반화성능

In [ ]:
# OneHotEncoding
# data2: embarked, Pclass, Sex
# data3: age_range, Embarked, Pclass, Sex
# data4: age_range, Embarked, Family_size, Pclass, Sex

In [ ]:
# {'data1':0.45, 'data2':0.56, 'data':..., 'data3':...}

In [23]:
# data1: Sex, Cabin, Embarked 
from sklearn.preprocessing import LabelEncoder

In [24]:
encoder = LabelEncoder()

In [25]:
data1['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [27]:
data1['Sex'] = encoder.fit_transform(data1['Sex'])

In [33]:
data1['Cabin'].fillna('none', inplace=True)

In [34]:
data1['Embarked'].fillna('none', inplace=True)

In [35]:
# 결측치 제거 / 대체를 해줘야 encoder 적용이 가능함
data1['Cabin'] = encoder.fit_transform(data1['Cabin'])
data1['Embarked'] = encoder.fit_transform(data1['Embarked'])

In [36]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       891 non-null int32
Embarked    891 non-null int32
dtypes: float64(2), int32(3), int64(4)
memory usage: 52.3 KB

In [37]:
# data2: Embarked, Pclass, Sex
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

In [38]:
data2['Embarked'].head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [41]:
data2['Embarked'].shape

(891,)

In [47]:
data2['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [48]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
age2        891 non-null float64
Embarked    891 non-null object
Fare        891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null object
Survived    891 non-null int64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [ ]:
# 컬럼 => LabelEncdoer로 숫자형으로 변환 => OneHotEncoder로 최종변환

In [44]:
x = ohe.fit_transform(data2['Embarked'].values.reshape(-1,1)).toarray()

In [46]:
ohe_embarked = pd.DataFrame(x, columns=['e1', 'e2', 'e3'])
ohe_embarked.head()

    e1   e2   e3
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

In [49]:
data2['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [50]:
y = ohe.fit_transform(data2['Pclass'].values.reshape(-1,1)).toarray()
ohe_pclass = pd.DataFrame(y, columns=['p1', 'p2', 'p3'])
ohe_pclass.head()

    p1   p2   p3
0  0.0  0.0  1.0
1  1.0  0.0  0.0
2  0.0  0.0  1.0
3  1.0  0.0  0.0
4  0.0  0.0  1.0

In [51]:
z = ohe.fit_transform(data2['Sex'].values.reshape(-1,1)).toarray()
ohe_sex = pd.DataFrame(z, columns=['s1', 's2'])
ohe_sex.head()

    s1   s2
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  0.0  1.0

In [52]:
# Embarked, Pclass, Sex => 삭제
# e1~3, p1~3, s1~2
data2.drop(['Embarked', 'Pclass', 'Sex'], axis=1, inplace=True)

In [55]:
data2 = pd.concat([data2, ohe_embarked, ohe_pclass, ohe_sex], axis=1)

In [61]:
data3['Embarked'].unique().size

3

In [62]:
# data3: age_range, Embarked, Pclass, Sex
# 사용자 정의 함수
# ohe_trans(df, 'Embarked')
def ohe_trans(df, col):
    ohe = OneHotEncoder()
    x = ohe.fit_transform(df[col].values.reshape(-1,1)).toarray()
    tmp = []
    for i in range(df[col].unique().size):
        tmp.append(col[0]+str(i))
        
    ohe_df = pd.DataFrame(x, columns=tmp)
    
    return ohe_df

In [65]:
result1 = ohe_trans(data3, 'age_range')
result2 = ohe_trans(data3, 'Embarked')
result3 = ohe_trans(data3, 'Pclass')
result4 = ohe_trans(data3, 'Sex')

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [66]:
data3.drop(['age_range', 'Embarked', 'Pclass', 'Sex'], axis=1, inplace=True)

In [68]:
data3 = pd.concat([data3, result1, result2, result3, result4], axis=1)

In [ ]:
# data4: age_range, Embarked, Family_size, Pclass, Sex

In [77]:
data4['Embarked'].fillna(data4['Embarked'].mode().values[0], inplace=True)

In [78]:
r1 = ohe_trans(data4, 'age_range')
r2 = ohe_trans(data4, 'Embarked')
r3 = ohe_trans(data4, 'family_size')
r4 = ohe_trans(data4, 'Pclass')
r5 = ohe_trans(data4, 'Sex')

C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [79]:
data4.drop(['age_range', 'Embarked', 'family_size', 'Pclass', 'Sex'], axis=1, inplace=True)
data4 = pd.concat([data4, r1, r2, r3, r4, r5], axis=1)

In [80]:
data4.head()

,Fare,title,Survived,a0,a1,a2,a3,E0,E1,E2,...,f4,f5,f6,f7,f8,P0,P1,P2,S0,S1
0,7.2500,mr,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,71.2833,mrs,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,7.9250,miss,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,53.1000,mrs,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,8.0500,mr,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
# DecisionTreeClassifier
# 예측타겟 : 사망 여부
# 모델 학습 , 일반화 성능 추출
# {1:..., 2:....}
# test_size : 0.2 ~ 0.3

In [90]:
data1_2 = data1.dropna()

In [91]:
# 독립변수, 종속변수 분리
# data1
# data1.iloc[:, 1:]
# data1.loc[:, data1.columns.difference('Survived')]
X = data1_2.drop('Survived', axis=1)
y = data1_2['Survived']

In [92]:
# 학습, 평가데이터 분리
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

In [93]:
from sklearn.tree import DecisionTreeClassifier

In [94]:
# NaN -> 삭제
dt = DecisionTreeClassifier()

dt.fit(train_x, train_y)

dt.score(test_x, test_y)

0.7552447552447552

In [95]:
# data2
X = data2.drop('Survived', axis=1)
y = data2['Survived']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

dt = DecisionTreeClassifier()

dt.fit(train_x, train_y)

dt.score(test_x, test_y)

0.776536312849162

In [96]:
# data3
X = data3.drop('Survived', axis=1)
y = data3['Survived']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

dt = DecisionTreeClassifier()

dt.fit(train_x, train_y)

dt.score(test_x, test_y)

0.7932960893854749

In [99]:
# data4_v1 : labelEncdoer
# data4_v2 : Ohe
data4_v1 = data4.copy()
data4_v2 = data4.copy()

In [100]:
data4_v1['title'] = encoder.fit_transform(data4_v1['title'])

In [101]:
tmp = ohe_trans(data4_v2, 'title')
tmp

,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
886,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
890,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [102]:
data4_v2.drop('title', axis=1, inplace=True)
data4_v2 = pd.concat([data4_v2, tmp], axis=1)

In [103]:
data4_v2.head()

,Fare,Survived,a0,a1,a2,a3,E0,E1,E2,f0,...,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16
0,7.2500,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,71.2833,1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,7.9250,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,53.1000,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,8.0500,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [104]:
# data4_v1
X = data4_v1.drop('Survived', axis=1)
y = data4_v1['Survived']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

dt = DecisionTreeClassifier()

dt.fit(train_x, train_y)

dt.score(test_x, test_y)

0.8100558659217877

In [105]:
# data4_v2
X = data4_v2.drop('Survived', axis=1)
y = data4_v2['Survived']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

dt = DecisionTreeClassifier()

dt.fit(train_x, train_y)

dt.score(test_x, test_y)

0.7988826815642458

In [106]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [108]:
X = data4_v1.drop('Survived', axis=1)
y = data4_v1['Survived']

train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=.2)

In [107]:
rf = RandomForestClassifier()
xgb = XGBClassifier()

In [109]:
rf.fit(train_x, train_y)
xgb.fit(train_x, train_y)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

In [111]:
print('''rf : {}
xgb : {}
'''.format(rf.score(test_x, test_y), xgb.score(test_x, test_y)))

rf : 0.8324022346368715
xgb : 0.8435754189944135